@import url("main.css");

body {
    font-family: 'Courier New', monospace;
    background-image: url("../images/random6.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    color: #FFFFFF;
    line-height: 1.6;
    margin: 0;
    padding: 0;
  }
  
  header {
    border: 5px inset #ff0000;
    background-color: #ff00ff;
    text-align: center;
    padding: 2rem;
  }
  
  header h1 {
    font-size: 3rem;
    margin: 0;
  }
  
  main {
    font-size: 1rem;
    padding: 2rem;
  }
  
  .random-images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
  }
  
  .random-images img {
    max-width: 100%;
    border: 2px solid #ff00ff;
    border-radius: 10px;
  }
  
  .text-box {
    background-color: #0000FF;
    padding: 2rem;
    margin-top: 2rem;
    border: 2px inset #00ff00;
    text-align: center;
  }
  
  .text-box h2 {
    font-size: 2rem;
  }
  
  .cta-box {
    text-align: center;
    margin-top: 2rem;
  }
  
  .cta-box a {
    display: inline-block;
    background-color: #ff0000;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 5px;
  }
  